#login-preview-bg-wrap{
	display:inline-block;
	width:100%;
}
#login-preview-bg-wrap p{
	clear:none;
}
#login-preview{
	width:100%;
	height:420px;
	border:1px solid #ccc;
	background:#FBFBFB;
	margin:0 auto;
	text-align:center;
	float:left;
	clear:none;
}
#login-preview .login-logo-wrap{
	margin: 20px 0 15px 0;
}
#login-preview .login-logo-wrap img{
	height:63px;
	width:274px;
}
.mb-login-bg{
	display:block;
	float:right;
}
.mb-login-bg .wp-picker-container .iris-picker{
	position:absolute;
	right:20px;
}
.fx-login-bg-upload{
	margin-left:20px !important;
}
.fx_login_customizer-login_logo{
	width: 450px;
	max-width: 100%;
}
.fx_login_customizer-login_bg{
	width: 450px;
	max-width: 100%;
}
.fx-login-logo-label-image-input{
	width: 165px;
	max-width: 100%;
	display: inline-block;
}